<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="me.arun.constraintsample">

    <application
        android:allowBackup="true"
        android:appComponentFactory="whateverString"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:appComponentFactory">
        <activity android:name=".sample.EventDetailActivity"></activity>
        <activity android:name=".sample.SampleActivity" />
        <activity
            android:name=".GroupActivity"
            android:label="@string/title_activity_group"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".BarrierActivity" />
        <activity android:name=".GuideLinesActivity" />
        <activity android:name=".ChainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>